.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 10px;
    width: 20vw;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.product img{
    border-radius: 10px;
    width: 20vw;
    height: auto;
}

.product h2 {
    color: #000000;
    font-size: 1.5vw;
}

.product h3 {
    font-size: 1.5vw;
    font-weight: 400;
    color: #000000;
    margin: 0 1vw;
}

.product a {
    font-size: 1vw;
    background-color: white;
    border: solid #090909 0.1vw;
    color: #000000;
    width: 10vw;
    padding: 0.5vw 0;
    border-radius: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    text-decoration: none;
    justify-items: center;
    text-align: center;
    font-weight: bold;
}

.product a:hover{
    background-color: #1a1a1a;
    color: #ffffff;
}